<script src="/php/ktv/Public/js/jquery.js"></script>
<script src="/php/ktv/Public/js/gamemanage.js"></script>
<style>
    input{
        border:none;
    }
</style>
<?php include 'adminheader.html';?>
<div class="container">
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active"><a href="#add" aria-controls="home" role="tab" data-toggle="tab" id="add">添加</a></li>
            <li role="presentation" class=""><a href="#list" aria-controls="profile" role="tab" data-toggle="tab" id="list">查看</a></li>
            <!--<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">删除</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">修改</a></li>-->
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="add-tab">
                <form action="javascript:;">
                    <div class="form-group">
                        <label for="user">游戏名称</label>
                        <input type="text" class="form-control" id="user" placeholder="请输入游戏名称" name="gname">
                    </div>
                    <div class="form-group">
                        <label for="pass">游戏类别</label>
                        <input type="text" class="form-control" id="pass" placeholder="请输入游戏类别" name="type">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="list-tab">
                <table class="table table-hover">
                    <!-- On cells (`td` or `th`) -->
                    <thead>
                        <tr>
                            <th class="active">序号</th>
                            <th class="success">游戏名称</th>
                            <th class="warning">游戏类别</th>
                            <th class="active">操作</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
<!--            <div role="tabpanel" class="tab-pane" id="messages">...</div>
            <div role="tabpanel" class="tab-pane" id="settings">...</div>-->
        </div>
    </div>
</div>
