<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>游戏</title>
    <script src="/php/ktv/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/php/ktv/Public/css/game.css">
</head>
<body>
    <header>
        <a href="javascript:history.back()"></a>
        <p class="">游戏</p>
        <a></a>
    </header>
    <ul class="main">
        <li><a href="/php/ktv/index.php/game/select?type=1">真心话</a></li>
        <li><a href="/php/ktv/index.php/game/select?type=2">大冒险</a></li>
        <li><a href="">大冒险</a></li>
        <li><a href="">真心话</a></li>
        <li><a href="">大冒险</a></li>
        <li><a href="">大冒险</a></li>
    </ul>
</body>
</html>