<!DOCTYPE html>
<html lang="en" style="width: 100%;height: 100%;">
<link rel="stylesheet" href="/php/ktv/Public/css/bootstrap.css">
<script src="/php/ktv/Public/js/jquery.js"></script>
<script src="/php/ktv/Public/js/login.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="width:100%;height:100%;display: flex;justify-content: center;align-items: center;">
<div class="panel panel-primary" style="width: 500px;">
    <div class="panel-heading" style="text-align:center;">KTV后台管理系统</div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="user">Username</label>
                <input type="text" class="form-control" id="user" placeholder="Username" name="user">
            </div>
            <div class="form-group">
                <label for="pass">Password</label>
                <input type="password" class="form-control" id="pass" placeholder="Password" name="pass">
            </div>
            <!--<div class="form-group">-->
                <!--<label for="exampleInputFile">File input</label>-->
                <!--<input type="file" id="exampleInputFile">-->
                <!--<p class="help-block">Example block-level help text here.</p>-->
            <!--</div>-->
            <!--<div class="checkbox">-->
                <!--<label>-->
                    <!--<input type="checkbox"> Check me out-->
                <!--</label>-->
            <!--</div>-->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

</body>
</html>