<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商店列表</title>
    <script src="/php/ktv/Public/js/rem.js"></script>
    <script src="/php/ktv/Public/js/jquery.js"></script>
    <script src="/php/ktv/Public/js/shoplist.js"></script>
    <link rel="stylesheet" href="/php/ktv/Public/css/shoplist.css">
</head>
<body>

</body>
</html>