<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商店</title>
    <script src="/php/ktv/Public/js/rem.js"></script>
    <link rel="stylesheet" href="/php/ktv/Public/css/shop.css">
    <script src="/php/ktv/Public/js/jquery.js"></script>
    <script src="/php/ktv/Public/js/shop.js"></script>
    <script src="/php/ktv/Public/js/iscroll.js"></script>
</head>
<body>
<header>
    <a href="javascript:history.back()"></a>
    <p class="">商店</p>
    <a></a>
</header>
<nav>
    <div class="wine active">
        <span>酒水</span>
        <span class="wineNum">0</span>
    </div>
    <div class="snack">
        <span>零食</span>
        <span class="snackNum">0</span>
    </div>
    <div class="bg"></div>
</nav>
<div class="wrapper winelist active">
    <ul class="scroll active">

    </ul>
</div>
<div class="wrapper snacklist">
    <ul class="scroll">

    </ul>
</div>
<footer>
    <ul class="choose">
        已选
        <div class="chooseList">

        </div>
        <div class="more">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </ul>
    <div class="bottom">
        <div class="total">
            <span>合计:&nbsp;</span>
            <span class="totalNum">0&nbsp;</span>
            <span>RMB</span>
        </div>
        <a href="" class="shopSure">选好了</a>
    </div>
</footer>
</body>
</html>